body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.commanddd {
  text-align: center;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen";
  margin-bottom: 2rem;
  font-size: 1.1rem;
  padding: 1rem;
  border-radius: 7px;
  background-color: inherit;
  box-shadow: 0 0 10px #0000001a;
}

.btnSend button {
  border-radius: 26px;
  background-color: inherit;
  border: 3px solid #dad7d7;
  box-shadow: rgba(78, 78, 78, 0.25) 0px 54px 55px,
    rgba(78, 78, 78, 0.25) 0px -12px 30px, rgba(78, 78, 78, 0.25) 0px 4px 6px,
    rgba(78, 78, 78, 0.25) 0px 12px 13px, rgba(78, 78, 78, 0.25) 0px -3px 5px;
  color: white;
}

.btnBuy {
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;

  font-size: 1rem;
  color: white;
  margin-top: 3rem;
  border: 2px solid white;
  border-radius: 10px;
  padding-left: 3rem;
  padding-right: 3rem;
}

.links {
  display: flex;
  flex-direction: row;
  text-align: center;
}

.btnBuy:hover {
  cursor: pointer;
  color: black;
  background-color: inherit;
}

.navbar-nav {
  display: flex;
  flex-direction: row;
  padding-left: 6rem;
  margin-bottom: -1rem;
  list-style: none;
}
